In [1]:
import pandas as pd

In [2]:
data=pd.read_excel('Data_Wordle_All_Features.xlsx',sheet_name='New')
data

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,16,1,4,7,0,0.0555,0.0552,0.0366,0.0322,0.0327
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,11,1,4,7,0,0.0474,0.0751,0.0856,0.0641,0.0084
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,5,2,3,7,2,0.0230,0.0712,0.0751,0.0230,0.1142
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,25,2,3,7,0,0.0023,0.0366,0.1142,0.0751,0.0200
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,11,1,4,12,0,0.0313,0.0751,0.0794,0.0641,0.0084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2023-04-21,671,kayak,17171,1768,0,2,13,37,33,...,11,2,3,7,4,0.0084,0.0856,0.0200,0.0856,0.0084
468,2023-04-22,672,broke,18527,1840,1,9,24,29,23,...,5,2,3,13,0,0.0212,0.0751,0.0712,0.0084,0.1142
469,2023-04-23,673,unzip,16915,1720,0,2,15,34,31,...,16,2,3,3,0,0.0366,0.0641,0.0024,0.0794,0.0327
470,2023-04-24,674,ditto,18104,1815,0,4,24,41,24,...,15,2,3,7,2,0.0313,0.0794,0.0746,0.0746,0.0712
471,2023-04-25,675,joker,18034,1970,1,2,8,17,23,...,18,2,3,7,0,0.0015,0.0712,0.0084,0.1142,0.0751

In [3]:
features = ['Contest number','w1','w2','w3','w4','w5','w1_fre','w2_fre','w3_fre','w4_fre','w5_fre','Vowel_fre','Consonant_fre','Speech','Same_letter_fre']
label = ['1 try','2 tries','3 tries','4 tries','5 tries','6 tries','7 or more tries (X)']

Train_all = data[features+label].copy().dropna()
X = Train_all[features]

Y_1= Train_all[label[0]]
Y_2= Train_all[label[1]]
Y_3= Train_all[label[2]]
Y_4= Train_all[label[3]]
Y_5= Train_all[label[4]]
Y_6= Train_all[label[5]]
Y_7= Train_all[label[6]]
Train_all

,Contest number,w1,w2,w3,w4,w5,w1_fre,w2_fre,w3_fre,w4_fre,...,Consonant_fre,Speech,Same_letter_fre,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X)
0,202,19,12,21,13,16,0.0555,0.0552,0.0366,0.0322,...,4,7,0,1,3,23,39,24,9,1
1,203,3,18,1,14,11,0.0474,0.0751,0.0856,0.0641,...,4,7,0,1,5,23,31,24,14,2
2,204,7,15,18,7,5,0.0230,0.0712,0.0751,0.0230,...,3,7,2,1,3,13,27,30,22,4
3,205,17,21,5,18,25,0.0023,0.0366,0.1142,0.0751,...,3,7,0,1,4,16,30,30,17,2
4,206,4,18,9,14,11,0.0313,0.0751,0.0794,0.0641,...,4,12,0,1,9,35,34,16,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,671,11,1,25,1,11,0.0084,0.0856,0.0200,0.0856,...,3,7,4,0,2,13,37,33,13,3
468,672,2,18,15,11,5,0.0212,0.0751,0.0712,0.0084,...,3,13,0,1,9,24,29,23,13,2
469,673,21,14,26,9,16,0.0366,0.0641,0.0024,0.0794,...,3,3,0,0,2,15,34,31,16,2
470,674,4,9,20,20,15,0.0313,0.0794,0.0746,0.0746,...,3,7,2,0,4,24,41,24,7,1
471,675,10,15,11,5,18,0.0015,0.0712,0.0084,0.1142,...,3,7,0,1,2,8,17,23,29,21

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

In [5]:
def pre_model(X,y,i):
    list=['pre 1','pre 2','pre 3','pre 4','pre 5','pre 6','pre 7']
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1, random_state=0)

    reg = LinearRegression().fit(X_train, y_train)
    pred = reg.predict(X_test)

    test_df=pd.DataFrame(y_test,columns=label)
    test_df[list[i-1]] = pred
    # 计算误差

    rmse = np.sqrt(mean_squared_error(test_df[label[i-1]],test_df[list[i-1]]))
    print(f'第{i}个模型，RMSE误差是：{rmse}')
    # 预测结果可视化
    # test_df[[label[0],'pred_1']].plot()
    # plt.legend()
    # plt.savefig('img/3.png',dpi=300)
    # plt.show()

In [6]:
pre_model(X,Y_1,1)
pre_model(X,Y_2,2)
pre_model(X,Y_3,3)
pre_model(X,Y_4,4)
pre_model(X,Y_5,5)
pre_model(X,Y_6,6)
pre_model(X,Y_7,7)

第1个模型，RMSE误差是：0.5323542074017134
第2个模型，RMSE误差是：3.5005236289685
第3个模型，RMSE误差是：6.497352914949824
第4个模型，RMSE误差是：5.3581017678191705
第5个模型，RMSE误差是：5.088078112913304
第6个模型，RMSE误差是：5.587322705354231
第7个模型，RMSE误差是：4.7991596561979835

In [7]:
eerie=pd.read_excel('eerie.xlsx',sheet_name='Sheet1')
eerie

,Date,Contest number,Word,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2023-05-15,295,eerie,e,e,r,i,e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Vowel = ['a','e','i','o','u']
letter = [str(chr(i)) for i in range(ord('a'),ord('z')+1)]
Consonant = list(set(letter).difference(set(Vowel)))


def count_vowel(s):
    c = 0
    for i in range(len(s)):
        if s[i] in Vowel:
            c+=1
    return c


def count_consonant(s):
    c = 0
    for i in range(len(s)):
        if s[i] in Consonant:
            c+=1
    return c


eerie['Vowel_fre'] = data['Word'].apply(lambda x:count_vowel(x))
eerie['Consonant_fre'] = data['Word'].apply(lambda x:count_consonant(x))
eerie

,Date,Contest number,Word,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2023-05-15,295,eerie,e,e,r,i,e,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import nltk
word=list(eerie['Word'])
pos_tags = nltk.pos_tag(word)
eerie['Speech']=pd.DataFrame(pos_tags)[1]
eerie

,Date,Contest number,Word,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2023-05-15,295,eerie,e,e,r,i,e,1,4,NN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def count_same_letter(s):
    d={}
    for char in set(s):
        d[char]=s.count(char)

    sum = 0
    for i in d:
        if d[i]>1:
            sum = sum + d[i]

    return sum

In [11]:
eerie['Same_letter_fre'] = eerie['Word'].apply(lambda x:count_same_letter(x))
eerie

,Date,Contest number,Word,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2023-05-15,295,eerie,e,e,r,i,e,1,4,NN,3,NaN,NaN,NaN,NaN,NaN

In [12]:
letter_map = dict(zip(letter,range(1,27)))
eerie['w1'] = eerie['w1'].map(letter_map)
eerie['w2'] = eerie['w2'].map(letter_map)
eerie['w3'] = eerie['w3'].map(letter_map)
eerie['w4'] = eerie['w4'].map(letter_map)
eerie['w5'] = eerie['w5'].map(letter_map)
Frequency=pd.read_excel("Letter_Frequency.xlsx",sheet_name="Sheet1")
Frequency_map=dict(zip(Frequency['N'],Frequency['Frequency']))
eerie['w1_fre']=eerie['w1']
eerie['w2_fre']=eerie['w2']
eerie['w3_fre']=eerie['w3']
eerie['w4_fre']=eerie['w4']
eerie['w5_fre']=eerie['w5']
eerie.replace({'w1_fre':Frequency_map,'w2_fre':Frequency_map,'w3_fre':Frequency_map,'w4_fre':Frequency_map,'w5_fre':Frequency_map},inplace=True)
eerie

,Date,Contest number,Word,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2023-05-15,295,eerie,5,5,18,9,5,1,4,NN,3,0.1142,0.1142,0.0751,0.0794,0.1142

In [13]:
eerie.replace({'Speech':{'NN':7}},inplace=True)
eerie

,Date,Contest number,Word,w1,w2,w3,w4,w5,Vowel_fre,Consonant_fre,Speech,Same_letter_fre,w1_fre,w2_fre,w3_fre,w4_fre,w5_fre
0,2023-05-15,295,eerie,5,5,18,9,5,1,4,7,3,0.1142,0.1142,0.0751,0.0794,0.1142

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
features=['Contest number','w1','w2','w3','w4','w5','w1_fre','w2_fre','w3_fre','w4_fre','w5_fre','Vowel_fre','Consonant_fre','Speech','Same_letter_fre']
label = ['1 try','2 tries','3 tries','4 tries','5 tries','6 tries','7 or more tries (X)']

Train_all = data[features+label].copy().dropna()
X = Train_all[features]

Y_1= Train_all[label[0]]
Y_2= Train_all[label[1]]
Y_3= Train_all[label[2]]
Y_4= Train_all[label[3]]
Y_5= Train_all[label[4]]
Y_6= Train_all[label[5]]
Y_7= Train_all[label[6]]

reg1 = LinearRegression().fit(X, Y_1)
reg2 = LinearRegression().fit(X, Y_2)
reg3 = LinearRegression().fit(X, Y_3)
reg4 = LinearRegression().fit(X, Y_4)
reg5 = LinearRegression().fit(X, Y_5)
reg6 = LinearRegression().fit(X, Y_6)
reg7 = LinearRegression().fit(X, Y_7)

In [15]:
X_pred=eerie[features]
p_pred1 = reg1.predict(X_pred)
p_pred2 = reg2.predict(X_pred)
p_pred3 = reg3.predict(X_pred)
p_pred4 = reg4.predict(X_pred)
p_pred5 = reg5.predict(X_pred)
p_pred6 = reg6.predict(X_pred)
p_pred7 = reg7.predict(X_pred)

print(p_pred1,p_pred2,p_pred3,p_pred4,p_pred5,p_pred6,p_pred7)

[0.66139894] [9.93477999] [27.41125397] [28.03649941] [18.31044046] [10.41038163] [5.02536808]